:root[theme-color='green'] {
  --td-brand-color-1: #e8f8f2;
  --td-brand-color-2: #bcebdc;
  --td-brand-color-3: #85dbbe;
  --td-brand-color-4: #48c79c;
  --td-brand-color-5: #00a870;
  --td-brand-color-6: #078d5c;
  --td-brand-color-7: #067945;
  --td-brand-color-8: #00a870;
  --td-brand-color-9: #044f2a;
  --td-brand-color-10: #033017;
}
:root[theme-color='lateotu'] {
  --td-brand-color-1: #9591fd20;
  --td-brand-color-2: #2d27fc;
  --td-brand-color-3: #443DFC;
  --td-brand-color-4: #6761fd;
  --td-brand-color-5: #7e79fd;
  --td-brand-color-6: #9591fd;
  --td-brand-color-7: #aaa7fe;
  --td-brand-color-8: #bfbdfe;
  --td-brand-color-9: #d4d2fe;
  --td-brand-color-10: #e9e9ff;
}

:root[theme-color='green'][theme-mode='dark'] {
  --td-brand-color: #03a56f;
  --td-brand-color-1: #024b15;
  --td-brand-color-2: #03965c;
  --td-brand-color-3: #03a56f;
  --td-brand-color-4: #04c383;
  --td-brand-color-5: #03965c;
  --td-brand-color-6: #03a56f;
  --td-brand-color-7: #04c383;
  --td-brand-color-8: #03a56f;
  --td-brand-color-9: #05eb9f;
  --td-brand-color-10: #91fdd9;
}
